@import url("https://fonts.googleapis.com/css2?family=Montserrat");
.text-h1 {
  margin: 0;
  font-size: 82px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.82px;
  text-transform: uppercase;
}

.text-h2 {
  margin: 0;
  font-size: 54px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.text-h3 {
  margin: 0;
  font-size: 42px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.text-body {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

.text-btn-text {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
@media (max-width: 480px) {
  .text-btn-text {
    text-transform: unset;
  }
}

.text-h1-320 {
  margin: 0;
  font-size: 40px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.text-h2-320 {
  margin: 0;
  font-size: 26px;
  font-weight: 500;
  line-height: normal;
}

.text-subheader {
  margin: 0;
  font-size: 26px;
  font-weight: 500;
  line-height: 1.3;
}

button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

.donate-btn {
  display: flex;
  width: 240px;
  height: 74px;
  padding: 26px 45px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #f58021;
  border-radius: 5px;
  color: white;
  white-space: nowrap;
}
@media (max-width: 480px) {
  .donate-btn {
    height: 45px;
  }
}
.donate-btn:hover, .donate-btn:active {
  background-color: #d26004;
  box-shadow: 0 4px 30px 0 rgba(245, 128, 33, 0.3);
  color: white;
}
.donate-btn:hover svg path, .donate-btn:active svg path {
  fill: white;
}
.donate-btn div {
  display: flex;
}
.donate-btn svg path {
  fill: white;
}

.view-btn {
  display: flex;
  width: 240px;
  height: 74px;
  padding: 26px 45px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #f58021;
  border-radius: 5px;
  color: white;
  white-space: nowrap;
}
@media (max-width: 480px) {
  .view-btn {
    height: 45px;
  }
}
.view-btn:hover, .view-btn:active {
  background-color: #d26004;
  box-shadow: 0 4px 30px 0 rgba(245, 128, 33, 0.3);
  color: white;
}
.view-btn:hover svg path, .view-btn:active svg path {
  fill: white;
}
.view-btn div {
  display: flex;
}
.view-btn svg path {
  fill: white;
}

.message-btn {
  display: flex;
  width: 359px;
  height: 74px;
  padding: 26px 45px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #00a092;
  border-radius: 5px;
  color: white;
  white-space: nowrap;
}
@media (max-width: 480px) {
  .message-btn {
    height: 45px;
  }
}
.message-btn:hover, .message-btn:active {
  background-color: #05786e;
  box-shadow: 0 4px 30px 0 rgba(0, 160, 146, 0.3);
  color: white;
}
.message-btn:hover svg path, .message-btn:active svg path {
  fill: white;
}
.message-btn div {
  display: flex;
}
.message-btn svg path {
  fill: white;
}

.favorite-btn {
  display: flex;
  width: 359px;
  height: 74px;
  padding: 26px 45px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  border: 1px solid #20113d;
  color: #20113d;
  white-space: nowrap;
}
@media (max-width: 480px) {
  .favorite-btn {
    height: 45px;
  }
}
.favorite-btn:hover, .favorite-btn:active {
  background-color: #20113d;
  border: 1px solid white;
  color: white;
}
.favorite-btn:hover svg path, .favorite-btn:active svg path {
  fill: white;
}
.favorite-btn div {
  display: flex;
}
.favorite-btn svg path {
  fill: #20113d;
}

.feedback-btn {
  display: flex;
  width: 359px;
  height: 74px;
  padding: 26px 45px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  white-space: nowrap;
}
@media (max-width: 480px) {
  .feedback-btn {
    height: 45px;
  }
}
.feedback-btn:hover, .feedback-btn:active {
  background-color: #00a092;
  border: 1px solid white;
  color: white;
}
.feedback-btn:hover svg path, .feedback-btn:active svg path {
  fill: white;
}
.feedback-btn div {
  display: flex;
}
.feedback-btn svg path {
  fill: white;
}
@media (max-width: 480px) {
  .feedback-btn {
    width: 299px;
  }
}

.view-btn,
.feed-btn,
.view-map-btn {
  display: flex;
  height: 74px;
  padding: 26px 45px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  color: #f58021;
  white-space: nowrap;
}
@media (max-width: 480px) {
  .view-btn,
  .feed-btn,
  .view-map-btn {
    height: 45px;
  }
}
.view-btn:hover, .view-btn:active,
.feed-btn:hover,
.feed-btn:active,
.view-map-btn:hover,
.view-map-btn:active {
  background-color: #f58021;
  color: white;
}
.view-btn:hover svg path, .view-btn:active svg path,
.feed-btn:hover svg path,
.feed-btn:active svg path,
.view-map-btn:hover svg path,
.view-map-btn:active svg path {
  fill: white;
}
.view-btn div,
.feed-btn div,
.view-map-btn div {
  display: flex;
}
.view-btn svg path,
.feed-btn svg path,
.view-map-btn svg path {
  fill: #f58021;
}

.other-btn {
  display: flex;
  height: 74px;
  padding: 26px 45px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #00a092;
  border-radius: 5px;
  color: white;
  white-space: nowrap;
}
@media (max-width: 480px) {
  .other-btn {
    height: 45px;
  }
}
.other-btn:hover, .other-btn:active {
  background-color: #80cfc8;
  color: white;
}
.other-btn:hover svg path, .other-btn:active svg path {
  fill: white;
}
.other-btn div {
  display: flex;
}
.other-btn svg path {
  fill: white;
}

.burger-button {
  z-index: 100;
  display: none;
}
@media (max-width: 768px) {
  .burger-button {
    display: flex;
  }
}
.burger-button {
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
}
.burger-button span {
  width: 100%;
  height: 3px;
  background-color: black;
  transition: all 0.4s ease-in-out;
  transform-origin: left center;
}
.burger-button.active span {
  background-color: white;
}
.burger-button.active span:nth-child(1) {
  transform: rotate(45deg);
}
.burger-button.active span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
.burger-button.active span:nth-child(3) {
  transform: rotate(-45deg);
}

.text-h1 {
  margin: 0;
  font-size: 82px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.82px;
  text-transform: uppercase;
}

.text-h2 {
  margin: 0;
  font-size: 54px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.text-h3 {
  margin: 0;
  font-size: 42px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.text-body {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

.text-btn-text {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
@media (max-width: 480px) {
  .text-btn-text {
    text-transform: unset;
  }
}

.text-h1-320 {
  margin: 0;
  font-size: 40px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.text-h2-320 {
  margin: 0;
  font-size: 26px;
  font-weight: 500;
  line-height: normal;
}

.text-subheader {
  margin: 0;
  font-size: 26px;
  font-weight: 500;
  line-height: 1.3;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #000;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: auto;
  max-width: 1920px;
}

footer,
header,
main {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  padding: 0 10px 0 10px;
}
footer > .container,
header > .container,
main > .container {
  max-width: 1400px;
  flex: 1;
}

footer {
  min-height: 329px;
  background-color: #20113d;
}
footer > .container {
  gap: 100px;
}

header {
  height: 110px;
  background-color: #f58021;
}
@media (max-width: 768px) {
  header {
    padding: 30px 47px 30px 20px;
    justify-content: space-between;
  }
}
@media (max-width: 1200px) {
  header > .container {
    max-width: 1000px;
  }
}
@media (max-width: 1024px) {
  header > .container {
    gap: 20px;
  }
}
@media (max-width: 768px) {
  header > .container {
    gap: 80px;
  }
}
header h1 {
  margin-left: 504px;
}

main {
  flex: 1;
}

a {
  white-space: nowrap;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.none {
  display: none;
}

.w100 {
  width: 100%;
}

.g30 {
  gap: 30px;
}

.pointer {
  cursor: pointer;
}

footer > .container {
  gap: 70px 100px;
  flex-wrap: wrap;
}
@media (max-width: 1200px) {
  footer > .container .footer-menu {
    max-width: calc(100% - 80px);
    margin: auto;
  }
}
@media (max-width: 1024px) {
  footer > .container {
    padding: 50px 0;
  }
  footer > .container .footer-menu {
    flex-direction: column;
  }
  footer > .container .logo,
  footer > .container nav > ul {
    max-width: unset;
    justify-content: space-around;
  }
  footer > .container nav > ul {
    gap: 53px;
  }
}
@media (max-width: 768px) {
  footer > .container .logo {
    gap: 53px;
    justify-content: center;
  }
  footer > .container .copyright,
  footer > .container .socials {
    flex: 0 0 100%;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  footer > .container {
    gap: 30px;
  }
  footer > .container .socials {
    order: 2;
  }
  footer > .container .footer-menu {
    order: 1;
  }
  footer > .container .logo {
    flex-direction: column;
    gap: 30px;
  }
  footer > .container nav > ul {
    gap: 15px;
  }
  footer > .container .menu {
    font-size: 16px;
  }
  footer > .container .line {
    order: 3;
  }
  footer > .container .copyright {
    order: 4;
    gap: 30px;
    flex-direction: column;
    margin: unset !important;
  }
}
footer > .container ul {
  gap: 46px;
}
@media (max-width: 1200px) {
  footer > .container ul {
    gap: 20px;
  }
}
@media (max-width: 1024px) {
  footer > .container ul {
    gap: 20px;
  }
}
footer > .container a {
  text-decoration: none;
  font-weight: 600;
  line-height: 150%; /* 27px */
  text-transform: uppercase;
  color: white;
}
footer > .container a:hover, footer > .container a.active-link {
  color: #00a092;
}
footer > .container .copyright {
  flex: 1;
  gap: 50px;
  color: white;
}
@media (max-width: 1200px) {
  footer > .container .copyright {
    gap: 30px;
    margin-left: 40px;
  }
}
@media (max-width: 1024px) {
  footer > .container .copyright {
    gap: 20px;
  }
}
footer > .container .socials {
  gap: 40px;
}
@media (max-width: 768px) {
  footer > .container .socials {
    gap: 50px;
  }
}
@media (max-width: 1200px) {
  footer > .container .socials {
    margin-right: 40px;
  }
}
footer .logo {
  max-width: 414px;
}
@media (max-width: 1200px) {
  footer .logo {
    max-width: 344px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 29px;
  }
}
footer .line {
  flex: 0 0 100%;
  height: 1px;
  background: white;
}

header nav.container.active {
  display: flex;
}
header nav.container.active .container.socials {
  display: none;
}
header nav.container.active .menu {
  flex-direction: column;
  position: fixed;
  top: -18px;
  right: 0;
  background-color: #20113d;
  z-index: 10;
  width: 311px;
  height: 100vh;
  max-height: 754px;
  gap: 50px;
  padding: 150px 95px 269px 95px;
}
header nav.container.active a {
  color: white;
}
@media (max-width: 768px) {
  header nav.container {
    display: none;
  }
}
header nav.container {
  gap: 67px;
}
@media (max-width: 1200px) {
  header nav.container {
    gap: 80px;
  }
}
@media (max-width: 1024px) {
  header nav.container {
    gap: 20px;
  }
}
header nav.container ul {
  list-style: none;
  padding: 0;
  gap: 48px;
}
@media (max-width: 1200px) {
  header nav.container ul {
    gap: 30px;
  }
}
@media (max-width: 1024px) {
  header nav.container ul {
    gap: 20px;
  }
}
header nav.container a {
  text-decoration: none;
  font-weight: 600;
  line-height: 150%; /* 27px */
  text-transform: uppercase;
  color: black;
}
header nav.container a:hover, header nav.container a.active-link {
  color: #00a092;
}

.socials {
  gap: 30px;
}
.socials svg {
  cursor: pointer;
}
.socials svg:hover {
  transform: scale(1.2);
}
.socials a {
  display: flex;
  align-items: center;
}

.svg-location .svg-animal-location {
  fill: #f58021 !important;
  filter: drop-shadow(0 4px 30px rgba(245, 128, 33, 0.7));
}
.svg-location:hover {
  fill: white !important;
  filter: drop-shadow(0 4px 30px rgba(255, 255, 255, 0.5));
}
.svg-location:hover .svg-animal-location-active {
  stroke: white;
  filter: drop-shadow(0 4px 30px rgba(255, 255, 255, 0.5));
}
.svg-location:hover .svg-animal-location {
  fill: white !important;
}

.svg-location-new .svg-animal-location-new {
  fill: #f58021;
}
.svg-location-new:hover .svg-animal-location-new {
  fill: white;
}
.svg-location-new:hover {
  fill: white !important;
}
.svg-location-new:hover .svg-animal-location-active-new {
  stroke: white;
}

.text-h1 {
  margin: 0;
  font-size: 82px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.82px;
  text-transform: uppercase;
}

.text-h2 {
  margin: 0;
  font-size: 54px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.text-h3 {
  margin: 0;
  font-size: 42px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.text-body {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

.text-btn-text {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
@media (max-width: 480px) {
  .text-btn-text {
    text-transform: unset;
  }
}

.text-h1-320 {
  margin: 0;
  font-size: 40px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.text-h2-320 {
  margin: 0;
  font-size: 26px;
  font-weight: 500;
  line-height: normal;
}

.text-subheader {
  margin: 0;
  font-size: 26px;
  font-weight: 500;
  line-height: 1.3;
}

.text-h1 {
  margin: 0;
  font-size: 82px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.82px;
  text-transform: uppercase;
}

.text-h2 {
  margin: 0;
  font-size: 54px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.text-h3 {
  margin: 0;
  font-size: 42px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.text-body {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

.text-btn-text {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
@media (max-width: 480px) {
  .text-btn-text {
    text-transform: unset;
  }
}

.text-h1-320 {
  margin: 0;
  font-size: 40px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.text-h2-320 {
  margin: 0;
  font-size: 26px;
  font-weight: 500;
  line-height: normal;
}

.text-subheader {
  margin: 0;
  font-size: 26px;
  font-weight: 500;
  line-height: 1.3;
}

button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

.donate-btn {
  display: flex;
  width: 240px;
  height: 74px;
  padding: 26px 45px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #f58021;
  border-radius: 5px;
  color: white;
  white-space: nowrap;
}
@media (max-width: 480px) {
  .donate-btn {
    height: 45px;
  }
}
.donate-btn:hover, .donate-btn:active {
  background-color: #d26004;
  box-shadow: 0 4px 30px 0 rgba(245, 128, 33, 0.3);
  color: white;
}
.donate-btn:hover svg path, .donate-btn:active svg path {
  fill: white;
}
.donate-btn div {
  display: flex;
}
.donate-btn svg path {
  fill: white;
}

.view-btn {
  display: flex;
  width: 240px;
  height: 74px;
  padding: 26px 45px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #f58021;
  border-radius: 5px;
  color: white;
  white-space: nowrap;
}
@media (max-width: 480px) {
  .view-btn {
    height: 45px;
  }
}
.view-btn:hover, .view-btn:active {
  background-color: #d26004;
  box-shadow: 0 4px 30px 0 rgba(245, 128, 33, 0.3);
  color: white;
}
.view-btn:hover svg path, .view-btn:active svg path {
  fill: white;
}
.view-btn div {
  display: flex;
}
.view-btn svg path {
  fill: white;
}

.message-btn {
  display: flex;
  width: 359px;
  height: 74px;
  padding: 26px 45px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #00a092;
  border-radius: 5px;
  color: white;
  white-space: nowrap;
}
@media (max-width: 480px) {
  .message-btn {
    height: 45px;
  }
}
.message-btn:hover, .message-btn:active {
  background-color: #05786e;
  box-shadow: 0 4px 30px 0 rgba(0, 160, 146, 0.3);
  color: white;
}
.message-btn:hover svg path, .message-btn:active svg path {
  fill: white;
}
.message-btn div {
  display: flex;
}
.message-btn svg path {
  fill: white;
}

.favorite-btn {
  display: flex;
  width: 359px;
  height: 74px;
  padding: 26px 45px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  border: 1px solid #20113d;
  color: #20113d;
  white-space: nowrap;
}
@media (max-width: 480px) {
  .favorite-btn {
    height: 45px;
  }
}
.favorite-btn:hover, .favorite-btn:active {
  background-color: #20113d;
  border: 1px solid white;
  color: white;
}
.favorite-btn:hover svg path, .favorite-btn:active svg path {
  fill: white;
}
.favorite-btn div {
  display: flex;
}
.favorite-btn svg path {
  fill: #20113d;
}

.feedback-btn {
  display: flex;
  width: 359px;
  height: 74px;
  padding: 26px 45px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  white-space: nowrap;
}
@media (max-width: 480px) {
  .feedback-btn {
    height: 45px;
  }
}
.feedback-btn:hover, .feedback-btn:active {
  background-color: #00a092;
  border: 1px solid white;
  color: white;
}
.feedback-btn:hover svg path, .feedback-btn:active svg path {
  fill: white;
}
.feedback-btn div {
  display: flex;
}
.feedback-btn svg path {
  fill: white;
}
@media (max-width: 480px) {
  .feedback-btn {
    width: 299px;
  }
}

.view-btn,
.feed-btn,
.view-map-btn {
  display: flex;
  height: 74px;
  padding: 26px 45px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  color: #f58021;
  white-space: nowrap;
}
@media (max-width: 480px) {
  .view-btn,
  .feed-btn,
  .view-map-btn {
    height: 45px;
  }
}
.view-btn:hover, .view-btn:active,
.feed-btn:hover,
.feed-btn:active,
.view-map-btn:hover,
.view-map-btn:active {
  background-color: #f58021;
  color: white;
}
.view-btn:hover svg path, .view-btn:active svg path,
.feed-btn:hover svg path,
.feed-btn:active svg path,
.view-map-btn:hover svg path,
.view-map-btn:active svg path {
  fill: white;
}
.view-btn div,
.feed-btn div,
.view-map-btn div {
  display: flex;
}
.view-btn svg path,
.feed-btn svg path,
.view-map-btn svg path {
  fill: #f58021;
}

.other-btn {
  display: flex;
  height: 74px;
  padding: 26px 45px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #00a092;
  border-radius: 5px;
  color: white;
  white-space: nowrap;
}
@media (max-width: 480px) {
  .other-btn {
    height: 45px;
  }
}
.other-btn:hover, .other-btn:active {
  background-color: #80cfc8;
  color: white;
}
.other-btn:hover svg path, .other-btn:active svg path {
  fill: white;
}
.other-btn div {
  display: flex;
}
.other-btn svg path {
  fill: white;
}

.burger-button {
  z-index: 100;
  display: none;
}
@media (max-width: 768px) {
  .burger-button {
    display: flex;
  }
}
.burger-button {
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
}
.burger-button span {
  width: 100%;
  height: 3px;
  background-color: black;
  transition: all 0.4s ease-in-out;
  transform-origin: left center;
}
.burger-button.active span {
  background-color: white;
}
.burger-button.active span:nth-child(1) {
  transform: rotate(45deg);
}
.burger-button.active span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
.burger-button.active span:nth-child(3) {
  transform: rotate(-45deg);
}

.map {
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 70px;
  padding: 40px 0 150px 0;
}
.map h2 {
  max-width: 600px;
  margin: auto;
  text-align: center;
  color: #20113d;
}

.location {
  vector-effect: non-scaling-stroke;
}
.location:hover {
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */