$theme-black: #0000;
$theme-navy: #20113d;
$theme-white: #ffff;
$theme-orange: #f58021;
$theme-orange-dark: #d26004;
$theme-turquoise: #00a092;
$theme-turquoise-dark: #05786e;
$shadow-orange: 0 4px 30px 0 rgba(245, 128, 33, 0.3);
$shadow-turquoise: 0 4px 30px 0 rgba(0, 160, 146, 0.3);
$transparent: rgba(0, 0, 0, 0);
$border-white: 1px solid $theme-white;
$border-orange: 1px solid $theme-orange;
$border-turquoise: 1px solid $theme-turquoise;
$border-navy: 1px solid $theme-navy;